/* YOSPOS Style 

Concept by Sweevo
CSS by Anal Volcano
Link flashing animation by roboshit
I totally forgot who did the images :(

*/

body {
	color:#57FF57 !important;
	font: 12px 'consolas', monaco, monospace !important;
	font-weight:bold;
	background-color:black;
}
a {
	color:#57FF57 !important;
}
#container {
	background-color:black;
	max-width: 1250px;
	margin: 0 auto;
}

#mods, div.pages, #copyright, #forum th, #forum td.lastpost, #forum span.pages, #thread div.postbar, td.postdate, td.postlinks, #thread dl.userinfo dd, #thread tr.postbar td, div.threadrate, div.subscribe {
	color:#57FF57 !important;
}
#navigation, #nav_purchase, #thread p.editedby, #forum td.title a.pagenumber, #forum td.title, #forums th, #forums div.subforums, #forums td.moderators, #pm, #info {
	font-size:12px !important;
}
div.threadbar, #subforums, #subforums td, #forum, #forum th, #forum td, #filter, div.forumbar, #thread table.post, #thread td, #forums, #forums th, #forums td, #pm, #pm th, #pm td, #info, #info th, #info td {
	background-color: black;
}

.timg { border: 2px solid #57FF57 !important; }

td.title div.lastseen {
	background:none !important;
}

#forum td.title div.lastseen a.x {
	background:none !important;
}
div.breadcrumbs a.bclast {
	border-bottom:none !important;
	text-decoration:underline !important;
}
#thread td.postbody, #thread dl.userinfo, #forum td.replies, #forum td.views, #forum td.author, #subforums {
	color:#57FF57 !important;
	font: 14px 'consolas', monaco, monospace !important;
	line-height: 20px !important;
}
td.postdate { height: 30px; }

#mods, div.pages, #copyright, #forum th, #forum td.lastpost, #forum span.pages, #thread div.postbar, td.postdate, td.postlinks, #thread dl.userinfo dd, #thread tr.postbar td, div.threadrate, div.subscribe {
	color:#57FF57 !important;
	font: 12px 'consolas', monaco, monospace !important;
}
div.threadbar, #subforums, #subforums td, #forum, #forum th, #forum td, #filter, div.forumbar, #thread table.post, #thread td, #forums, #forums th, #forums td, #pm, #pm th, #pm td, #info, #info th, #info td {
	border:1px solid #57FF57 !important;
}
.author.op {
	color:#57FF57 !important;

}
/* jumplist @ bottom */
select {
	background-color:black;
	color:#57FF57 !important;
	font: 12px 'consolas', monaco, monospace !important;
}
#forum td.title div.lastseen a {
	font-size: 12px !important;
}
div.breadcrumbs, #subforums td.title dt, #forum td.lastpost a.author, div.threadbar form.threadsearch label, #thread dl.userinfo dt, #forums td.title a.forum {
	font-weight:bold !important;
	font-size:14px !important;
}

#filter {
	display:none !important;
}

#ac_timemachine {
	width:350px !important;
	background: black !important;
	border: none !important;
	padding-left:5px !important;
}

#forum th, div.threadbar, div.forumbar, #forums th, #pm th, #info th {
	background:black !important;
}

.profilelinks li {
	border-right: 1px solid #57FF57 !important;
	padding-top:8px;
	padding-bottom:7px;
	padding-left:10px;
	padding-right:10px;
	margin-left:-5px;
	margin-right:0px;
}

.bbc-block h4, .bbc-block h5 {
	color: #57FF57 !important;
}
.bbc-block h4 {
	border-top: 1px #57FF57 solid !important;
}
.bbc-block, .bbc-block h5 {
	border-bottom: 1px #57FF57 solid !important;
}

/* Page links */
.pages a, .pages .curpage {
	font-size:14px !important;
	margin-right:0px !important;
	color: #57FF57 !important;
}
.pages.top, .pages.bottom {
	font-size:14px !important;
}
.curpage {
	padding-right:5px !important;
}
div.pages a:hover {
	background:none !important;
	padding-right:0px !important;
	margin-right: 0px;
}
div.pages a {
	border-bottom:none !important;
	text-decoration:underline !important;
}
#globalmenu, #globalthing {
	background-color:black !important;
	border-bottom: 1px #57FF57 solid !important;
	font: 14px 'consolas', monaco, monospace !important;
}

#globalmenu li {
	border-left:1px #57FF57 solid;
	padding-right:3px !important;
}


/* Personal preference + looks less cluttered like this. Use "Buy forum stuff" link if you need to do so. */
#nav_purchase {
	display:none;
}
.title_pages {
	color: #57FF57 !important;
}

.title_pages a {
	text-decoration:underline !important;
}
.title_pages a:hover {
	background-color:black !important;
}

#forum td.title div.lastseen a.count {
	border-left:1px #57FF57 solid !important;
}
.lastseen {
	border:1px #57FF57 solid !important;
}
div.breadcrumbs h1, input, #forum td.title a {
	font-size:14px !important;
}

/* New thread/reply & edit post */
table.standard th {
	background-color:black !important;
	color: #57FF57 !important;
}
table.standard td {
	background-color:black !important;
}
div.mainbodytextsmall, .smalltext, .smalltext a {
	font-size: 12px !important;
}
.bginput {
	background-color:black;
	color: #57FF57 !important;
	border:1px #57FF57 solid;
	font: 14px 'consolas', monaco, monospace !important;
}
textarea {
	background-color:black;
	color: #57FF57 !important;
	border:1px #57FF57 solid;
	outline: none;
	font: 12px 'consolas', monaco, monospace !important;
}
table.standard th, table.standard td {
	border:1px #57FF57 solid !important;
}
.standard h2 {
	background-color:black !important;
	color: #57FF57 !important;
	border-bottom:1px #57FF57 solid !important;
}
div.standard {
	background-color:black !important;
	color: #57FF57 !important;
	border:1px #57FF57 solid !important;
}

#forum td.replies, #forum td.views, #forum th.rating, #forum td.rating {
	font: 14px 'consolas', monaco, monospace !important;
}

/* ul.postbuttons {
	padding:5px !important;
}

.threadbar {
	padding:0px !important;
}

 .postlinks .postbuttons li a {
	border-left:1px #57FF57 solid !important;
	padding:5px !important;
	margin-right:-6px !important;
} 
.threadbar.top  li a {
	border-left:1px #57FF57 solid !important;
	padding:5px !important;
	margin-right:-6px !important;
}*/


.signature {
	border-top:1px #57FF57 solid !important;
}

.seen1 td, .seen2 td {
	/*background-color:#2d270c !important;*/
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABlJREFUeNpilPKV+s/AwMDIBCKA+D9AgAEAF0YChW3Z7VYAAAAASUVORK5CYII=') top left repeat !important;
}

#thread table.post p.editedby span, #thread table.post p.attachment span {
	color: #57FF57 !important;
	font-size: 12px !important;
	opacity: 1.0 !important;
	font-style:normal !important;
}

/* holy moly thanks roboshit */
@-webkit-keyframes animes {
	0% {
		background:#57ff57;
    color:#000;
	}
	50% {
		background:#000;
    color:#57ff57;
	}
	100% {
		background:#57ff57;
    color:#000;
	}
}

a:hover {
  -webkit-animation-name: animes;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
.bginput:hover {
	-webkit-animation-name: animes;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

/* fix to make posts with only "quote" button have same bottom bar height as ones with "edit" or i suppose "report" */
ul.postbuttons li {
	padding:2px !important;
}
ul.postbuttons a {
	-webkit-animation-name:none;
}

/******/

#rateform_js_attach {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAUBAMAAACJ7oWmAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCFAAyOaPjCZ0AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAFVBMVEUAAABX/1dX/1dX/1dX/1dX/1f///9GY7wFAAAABXRSTlMAM2aZzF7+WaQAAAABYktHRAZhZrh9AAAAmklEQVQoz82TwQ3EIAwEfcQpgA6QK4hEA3m4AD7uv5U8jgVLoAg+p/PLWIyWXYBsu6gQarE73XCxfopErEVS7XK+MOS7bjYzIB8gIZF8u+OiDESBlK4SY9eV1gHhGdIPRiENiPI70kQOeOHbeSkj4kSgwqraZjZJjAakJzZFvMg6MgnZ2bcecmWCiIxX2bx4+3/7LPe+2P5HfgDhlzozgVhAXgAAAABJRU5ErkJggg%3D%3D') no-repeat top left;
    padding-top: 10px;
}

#rateform_js_attach img {
    height: 0px;
    width: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
#rateform_js_attach img:last-child {
    width: 0px;
}

.postbuttons img[alt="Quote"] {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALdJREFUeNrsmEEOgCAMBLuEP8IT+WWVGzGArYqKlYMa0xQHdpsiAgcmQ8PnS6IEC7CRIjsyNn5gEx7e0X2+1Qpb6XtWvmvlacWUcc0iK6lFkh0uPxySiQfnweYZX5A0OgoggUqmAoYSiDXQsxctddM0OzCsAauh3WgJvU3e7g7fvMnLXigZriTFgJgaAHeaF/Xi+wM+4RNewgW+PHWyc3fIaKpeeu1PL13h/7T0xA7nPwFWgBcBBgDpZybnyMexVgAAAABJRU5ErkJggg%3D%3D');
}

.postbuttons img[alt~="Post"] {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKFJREFUeNrsV9EKwCAI1NE/1ifuL2/sVVprzoJSHyJQqsPzUs7IIEeW7uWkkz2ALVRwkDMLwC5qWFMLDy6pBRgYo9IebYZZ7LnyMAi/NsYtpbnBgGUA1zLKFUDcQftpgCGo+Qf08CYoGVPNItMwOnOJGt5etKbQODotZWbohX6yLtH4XtAhfj13jhGtDx0OG8VYiWNQOgBvOS01pp/t7BJgAH84J+JapZFEAAAAAElFTkSuQmCC');
}

.postbuttons img[alt="Reply"] {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK1JREFUeNrsV0EKwCAMs+If9Yn+MmO3MaxWi0NXe5DBaiQsiStFRDhDFe4lu0wWyCaX4J2xOoRNeLile+bV0/e14KNGTw2HyxaUsCVZJPnC9HouEeB6tDhbSZoseRirkg6DRCT+0uK01IMRHD9BptIeUipgyO9ecRB28+8X9zAWw5lKeDmyUsK9IQRmDwSYEpwevP6UZv5eaGKYTb3nz/BwCP9xWqpMRL+rS4ABAHcaKOX0wUbwAAAAAElFTkSuQmCC');
}

.alertbutton > a > img {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMFJREFUeNrsV0EOxCAIFOIf2yf2l9PsbeMGASW7dJVDDxXBIcME6MCBspDV1+cqF60A9iwnuCxmG/ASPdzyXPB97/Oe0JHi0+oFBnNZ4nzoEyuBSAAg+XjjoDn35MKvKZ1B6Ul7TxRgJABNln/VCKQHBo6CzBZlOg4H0NTqQwEMmGYQO5IgSf+mEa3hRzx18HjEEsIBIgThDhzDA5o4NFhINWfVJhOhR6PEzOJHjjv07R7ey8MGnGFb6mxIf2e3AAMAF70q7gr0SSkAAAAASUVORK5CYII%3D');
}

.postbuttons img[alt="Edit"] {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKRJREFUeNrsl0sOgCAMRBniHeGI3HKMCzdEPjaASOmCmLSJvjKtLRwdjSI7riOYAA2w3nhao8w2sIoaltRCxn33A2Z8sbEQ9/g+Se+R3jCiZ1TEJD88ETu9pFHpZ6MkfwrMzrcDQYK7Af9qcLEDpLzkbwnagH8jbzsQljOowTaAYwKWL2BZkTi2UJJo0qqccNC4B2DGGt7LwwaeYVsqbD9L2SnAAAnnHuEDwss0AAAAAElFTkSuQmCC');
}

img.bookmark {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKpJREFUeNrsV9EOwBAQ08U/8on+ssuSPYgw5li2nT6InMZ0egc4OhpFsEcTTIAGsd54bkYZlmAVOdyTC2c3zv1cLB4rxXNAgYM41lN7pDvMysJrHCR9XIh8jaVbxKKB+/kcTsWOEk3JzksFY6Dt2CCG0u/ZAQuFwPLpPPyypdNihBs/j53jvzyHRaLXTethcBBnbtEq3HDQUMxmcZall2DVr6Xo9fN77AIMAKMbJeR5O4NTAAAAAElFTkSuQmCC');
}

img.unbookmark {
    height: 0px;
    width: 61px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAYAAADRA14pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALZJREFUeNrsV9EOgCAI5Fr/WJ/YX1619VBMKoNVU3loDs7cIaeCgQOlIuvXzyQTaiA7yshOKrNGuAoN6zrfhntda18URlTM8qcMBuawvj6fvDvMDAwfYqDGOCH5SknTibEq49capnMegkmb0vESRgYGQYnlxf9O4xE7jAAMFRnPWq+UNALmIzN5fBIv9R42SbeHx5adlJ6+ajAYhEkTXl4md8jhhu9vmNY8NMLFHlq7Dql4mwUYAKqHL+YH2Mb8AAAAAElFTkSuQmCC');
}

td.rating img[src="http://fi.somethingawful.com/rate/default/5stars.gif"] {
    height: 0px;
    width: 50px;
    overflow: hidden;
    padding-bottom: 20px;
    /* aaaaaaa */
    background: url('data:image/gif;base64,R0lGODlhMgAUALMOAAAAAFX6VUXLRSZxJjutO0PHQzGRMVHuUUvcSzyzPEXMRUzgTFHwUTKUMv///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFXgEOACwAAAAAMgAUAAAEaRDISau9OOvNew8AKErjGJ5meaJspYJsGpPzDFsvrdp6m7u1nzBYwxF3Q2RxkvQdnTujcgqtmihNGVXbklpXWfCyxy2LtyuvGRZmj3nwNjkNRLvt8xvzuc77L3JxfHR/gYEeiImKi4wTEQAh+QQFAAAOACwDAAIALAAQAAAESNAdSWe9d1qNufZUFoKbKJbg6agsSa5va8b0bKfu3emcjPMj4KH2K+6MPeJx+RHCnD5mEDmtKJPQaxVLRVmz4O5THG2StV5OBAAh+QQFAAAOACwDAAIALAAQAAAESNAhSWe9d1qNufZUFoKbKJbg6agsSa5va8b0bKfu3emcjPMjIKL2K+6MPeJx+RHCnD5mEDmtKJPQaxVLRVmz4O5THG2StV5OBAAh+QQFAAAOACwDAAIALAAQAAAESNAVSWe9d1qNufZUFoKbKJbg6agsSa5va8b0bKfu3emcjPMjYKH2K+6MPeJx+RHCnD5mEDmtKJPQaxVLRVmz4O5THG2StV5OBAAh+QQFAAAOACwDAAIALAAQAAAESNARSWe9d1qNufZUFoKbKJbg6agsSa5va8b0bKfu3emcjPMjIKH2K+6MPeJx+RHCnD5mEDmtKJPQaxVLRVmz4O5THG2StV5OBAAh+QQFAAAOACwDAAIALAAQAAAESNAZSWe9d1qNufZUFoKbKJbg6agsSa5va8b0bKfu3emcjPMjoKH2K+6MPeJx+RHCnD5mEDmtKJPQaxVLRVmz4O5THG2StV5OBAAh+QQFAAAOACwDAAIALAAQAAAESNANSWe9d1qNufZUFoKbKJbg6agsSa5va8b0bKfu3emcjPMj4KD2K+6MPeJx+RHCnD5mEDmtKJPQaxVLRVmz4O5THG2StV5OBAAh+QQFAAAOACwDAAIACAAQAAAEFtAJScW8tFaM9eUZaHkOOYKmWIpqSkYAIfkEBQAADgAsDAACAAgAEAAABBbQCUnFvLRWjPXlGWh5DjmCpliKakpGACH5BAUAAA4ALBUAAgAIABAAAAQW0AlJxby0Voz15RloeQ45gqZYimpKRgAh+QQFAAAOACweAAIACAAQAAAEFtAJScW8tFaM9eUZaHkOOYKmWIpqSkYAIfkEBQAADgAsJwACAAgAEAAABBbQCUnFvLRWjPXlGWh5DjmCpliKakpGACH5BAUAAA4ALAMAAgAIABAAAAQbEARJw7y0Voz19ECohdZIZhInmmV3duoXx0AEACH5BAUAAA4ALAwAAgAIABAAAAQcEARJw7y06g16llMXip/FeaNJeiuIslgYZ7M5RwAh+QQFAAAOACwVAAIACAAQAAAEHBAEScO8tOoN+p4d6H2eWGaiGaLnmK0YGEvzFAEAIfkEBQAADgAsHgACAAgAEAAABBoQBEnDvLRWPIHnn+ZpHTiaZohl7DmSGWjBEQAh+QQFAAAOACwnAAIACAAQAAAEGxAEScO8tGo9gceWt31VN3ImJoKkyoYsJ71ABAAh+QQFAAAOACwIAAUAIgAKAAAEPNC5QIOUld58MffgZIVit1matpFqabqf2c6jPMYdfb5wJao6Uu7mCwVdNk/wONuVgERnb0dDnYq/T2YUAQAh+QQFAAAOACwDAAIALAAQAAAEY9AxSWe9d1qNufZUFoKbKJbg6agsSa4rB8chLc9pisOWvd+8iq7WI/5qRlQQgwQOfYyhdAnd+ZjFXrbJDH66WivX6b1yaeVyETpFu7dudVU+Q4rlUdOrpe/n/B2AX3+EgYUcEQAh+QQFAAAOACwDAAIALAAQAAAEY9AtSWe9d1qNufZUFoKbKJbg6agsSa4rB8chLc9pisOWvd+8iq7WI/5qRlQQgwQOfYuhdAnd+ZjFXrbJDH66WivX6b1yaeVyETpFu7dudVU+Q4rlUdOrpe/n/B2AX3+EgYUcEQAh+QQFAAAOACwDAAIALAAQAAAEY9ApSWe9d1qNufZUFoKbKJbg6agsSa4rB8chLc9pisOWvd+8iq7WI/5qRlQQgwQOfYqhdAnd+ZjFXrbJDH66WivX6b1yaeVyETpFu7dudVU+Q4rlUdOrpe/n/B2AX3+EgYUcEQAh+QQFAAAOACwDAAIALAAQAAAEY9AlSWe9d1qNufZUFoKbKJbg6agsSa4rB8chLc9pisOWvd+8iq7WI/5qRlQQgwQOfYmhdAnd+ZjFXrbJDH66WivX6b1yaeVyETpFu7dudVU+Q4rlUdOrpe/n/B2AX3+EgYUcEQAh+QQFAAAOACwDAAIALAAQAAAEY9A1SWe9d1qNufZUFoKbKJbg6agsSa4rB8chLc9pisOWvd+8iq7WI/5qRlQQgwQOfY2hdAnd+ZjFXrbJDH66WivX6b1yaeVyETpFu7dudVU+Q4rlUdOrpe/n/B2AX3+EgYUcEQAh+QQFXgEOACwDAAIALAAQAAAEY9ANSWe9d1qNufZUFoKbKJbg6agsSa4rB8chLc9pisOWvd+8iq7WI/5qRlQQgwQOfYOhdAnd+ZjFXrbJDH66WivX6b1yaeVyETpFu7dudVU+Q4rlUdOrpe/n/B2AX3+EgYUcEQAh+QQFAAAOACwAAAAAAQABAAAEAtBFACH5BAUAAA4ALCcAAgAIABAAAAQbEAhJxby0aj2Bx5a3fVU3ciYmgqTKhiwnvUAEACH5BAUAAA4ALB4AAgAJABAAAAQaEAhJp60g342z7tjkhR43muQJitT4qSgntxEAIfkEBQAADgAsFQACAAkAEAAABBwQCEmnrSDfq2n+WCeCoWeCnDmR5Xp+brfB2MxFACH5BAUAAA4ALAwAAgAJABAAAAQcEAhJp60g36tp/h7WgRxWkl85gaMYdqqZypsXAQAh+QQFAAAOACwDAAIACQAQAAAEGxAISaetIN+Np8bflYUj55UUKaKnOaos2M1iBAAh+QQFAAAOACwDAAIACAAQAAAEFtAFScO8tFaM9eUZaHkOOYKmWIpqSkYAIfkEBQAADgAsDAACAAgAEAAABBbQBUnDvLRWjPXlGWh5DjmCpliKakpGACH5BAUAAA4ALBUAAgAIABAAAAQW0AVJw7y0Voz15RloeQ45gqZYimpKRgAh+QQFAAAOACweAAIACAAQAAAEFtAFScO8tFaM9eUZaHkOOYKmWIpqSkYAIfkEBQAADgAsJwACAAgAEAAABBbQBUnDvLRWjPXlGWh5DjmCpliKakpGADs%3D') top left no-repeat;
}

td.rating img[src="http://fi.somethingawful.com/rate/default/4stars.gif"] {
    height: 0px;
    width: 50px;
    overflow: hidden;
    padding-bottom: 20px;
    /* Squares */
    background: url('data:image/gif;base64,R0lGODlhMgAUAIAAAAAAAFX6VSH5BAAAAAAALAAAAAAyABQAAAJahI+py+0PYwyAWnNv3Tpv6VHcOHaldITYeYoqyL4yi85eu95TzN9v3SPZSDtf0KSDGZdCGmSIbCaL0mpUQ71+oB8gU+tyPrjhb1dp3R7P43U5LULJ5/S6XVEAADs%3D') top left no-repeat;
}

td.rating img[src="http://fi.somethingawful.com/rate/default/3stars.gif"] {
    height: 0px;
    width: 50px;
    overflow: hidden;
    padding-bottom: 20px;
    background: url('data:image/gif;base64,R0lGODlhMgAUAIAAAAAAAFX6VSH5BAAAAAAALAAAAAAyABQAAAJPhI+py+0PYwyAWnNv3VqyvHGi2HkfiaEoZS4g+6Zge87xSiv3ruYJb+v5cMTb8AAcGYdJzfLYDD1zUZgQqqoeZcrslekNzrDi7niLTquHBQA7') top left no-repeat;
}

td.rating img[src="http://fi.somethingawful.com/rate/default/2stars.gif"] {
    height: 0px;
    width: 50px;
    overflow: hidden;
    padding-bottom: 20px;
    /* Squares */
    background: url('data:image/gif;base64,R0lGODlhMgAUAIAAAAAAAFX6VSH5BAAAAAAALAAAAAAyABQAAAJIhI+py+0PYwyAWnOv3CdX/Gnc6FHhOW4l6KXceoruA8PzFLPo7dQ5D/G1gAzhjlj82ZAJo4zZVP6gCOeHqrCasDrNkgsOiwEFADs%3D') top left no-repeat;
}

td.rating img[src="http://fi.somethingawful.com/rate/default/1stars.gif"] {
    height: 0px;
    width: 50px;
    overflow: hidden;
    padding-bottom: 20px;
    /* Squares */
    background: url('data:image/gif;base64,R0lGODlhMgAUAJECAAAAAFX6Vf///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBQACACwAAAAAMgAUAAACb4SPqcvtDyMMgNqKr858e/aF3SheSUmmqKlsCPuqixuzlGEfeY5js8/pCYM64G10In6Gx6axeEw6abGes0WEPqlZrbXrTTHDU2RtqyyOy7Dz9blWy6TdKPz+bWtXMr69D+gHlhdYKCKBmKi4yHhQAAAh+QQFBQACACwDAAIALAAQAAACVUSMp8nrDcObsdJn89WGgo+AIMaIH0Ye58iqLbsqKbTWYXkvuJe/tuuYkWIwHFGlq/xMImBEuCs6p6WkVerrTWbE5ZKqG0a/xWOHs0kr1Wx0og13FwAAOw%3D%3D') top left no-repeat;
}
#thread dl.userinfo dt.author.role-mod { 
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFtJREFUeNqkUkEKwDAIM8VH7on7ZdodCsVVC2m8iMGEiCBpCnw2z6iAqYh1+I760ExES1x2YLbIYvnH+UIiUWfMeZXRExeEq0Zu64hihlNGOwnKGaG+nOzYBRgAiKoUGk8CrGUAAAAASUVORK5CYII=') !important; 
}