/* MacinYOS Stylesheet
 * davejk - dkellaway@mac.com
 * Props to toby and raruler!!!
 */
 
/* Development version of Windowed Mode. DO NOT USE YET if merging into another extension - very buggy and unfinished */
/*@import url('./windowed.css');*/
 
#copyright a:nth-of-type(1):after {
    content: ' - MacinYOS 1.3'; /* <---- DON'T FORGET TO EDIT THIS <---- */
}

 
 
/* Mac system fonts */
@font-face {
	font-family: virtue;
	src: url('./macinyos9/virtue.ttf');
}
@font-face {
    font-family: 'virtue Bold';
    src: url('./macinyos9/virtue.ttf');
}
* {
    font-family: 'virtue', 'Monaco', 'Charcoal CY', 'Courier', Monospace !important;
}
textarea, input[type="text"] {
    font-family: 'Monaco', 'Charcoal CY', 'Courier', Monospace !important;
}
a {
    color: #000 !important;
}
a:hover {
	-webkit-animation-name: none !important;
}



/* Font smoothing */
body {
	-webkit-font-smoothing: antialiased;
}
body.badFonts {
    -webkit-font-smoothing: none !important;
}



/* Page layout */
body,  #container {
    background-image: url('./macinyos9/wallpaper.png') !important;
    background-repeat: repeat !important;
}
#container {
	padding: 4px 9px 8px 8px;
}
#container, #forums, div.threadbar, #subforums, #subforums td, #forum, #forum th, #forum td, #filter, div.forumbar, #thread table.post, #thread td, #forums, #forums th, #forums td, #pm, #pm th, #pm td, #info, #info th, #info td {
    color: #000 !important;
    background-color: #ddd !important;
}



/* Hide shit nobody cares about */
.flag_container, #nav_purchase, #filter, #ac_timemachine, #searchboxes {
    display: none !important;
}



/* Monochrome mode (requires setting) */
.monochrome img {
	-webkit-filter: saturate(0%);
}
.monochrome img:hover {
	-webkit-filter: saturate(100%);
}


/* Turn the navigation bar into the menu bar */
#globalmenu {
    background-color: #000 !important;
    border-bottom: 1px solid #000 !important;
    z-index: 1 !important;
    display: block !important;
    width: 100% !important;
	height: 20px !important;
}
#navigation {
    position: absolute;
    top: 0; 
    left: 0; right: 0;
    margin: 0 !important;
    width: auto !important;
    z-index: 10 !important;
    overflow: hidden !important;
    
    display: block !important;
    padding: 0 !important;
    height: 19px !important;
    background-color: #ddd !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
	border-bottom: 1px solid #000;
    
    font-size: 1px !important;
    color: #ddd !important;
	background-image: url('./macinyos9/menubarbg.png');
}
#navigation a {
    float: left !important;
    color: #000 !important;
    padding: 2px 6px !important;
    margin: 0 0 0 4px !important;
    text-decoration: none !important;
	font-family: 'virtue' !important;
	font-size: 12px !important;
	font-weight: normal !important;
}
#navigation a:active {
    background-color: #000 !important;
    color: #ccc !important;
}
/* Use the 'SA Forums' link for the fruit menu */
#navigation li.first a {
    background-image: url('./macinyos9/menu_apple.png');
    background-repeat: no-repeat;
    background-position: 6px 2px;
    width: 26px !important;
    height: 16px !important;
	padding: 4px 0 !important;
    color: transparent !important;d
    margin-left: 12px !important;
}
#navigation li.first a:active {
    background-image: url('./macinyos9/menu_apple_on.png');
}



/* Add the window border and drop shadow */
#content {
    padding: 0 !important;
    background-color: #ddd !important;
    border: 1px solid #000 !important;
    box-shadow: 1px 1px 1px #000 !important;
    margin: 18px 0 !important;
	position: relative;
}



/* Turn the breadcrumb bar into a window title */
.breadcrumbs {
    /*display: none !important;*/
}
.breadcrumbs:nth-of-type(1), .WindowTitle {
    display: block !important;
    border-bottom: 1px solid #000 !important;
    padding: 1px 0 0 !important;
    text-align: center !important;
    margin: 0 !important;
    position: relative !important;
    height: 18px;

    background-image: url('./macinyos9/window_title.png');
    background-repeat: repeat-x;
    background-color: #ccc !important;
    background-position: 0 1px !important;
}
.breadcrumbs:nth-of-type(1) .mainbodytextlarge, .WindowTitle .mainbodytextlarge {
    display: block;
    background-image: url('./macinyos9/window_right.png');
    background-repeat: no-repeat;
    background-position: right 2px !important;

}
.breadcrumbs:nth-of-type(1) b, .WindowTitle b {
    background-color: #ccc;
    margin: 0 26px 0 22px !important;
    padding: 1px 7px 1px 7px !important;
	display: inline-block;
	height: 15px !important;
	overflow: hidden;
}
.breadcrumbs:nth-of-type(1) a, .WindowTitle a {
    background-color: #ccc;
    color: #000 !important;
    text-decoration: none !important;
	margin-top: -2px !important;
    padding: 0 2px !important;
    border: none !important;
	font-weight: normal !important;
}
.breadcrumbs:nth-of-type(1), .WindowTitle, .breadcrumbs:nth-of-type(1) a, .WindowTitle a {
	font-family: 'virtue' !important;
	font-size: 12px !important;
}



/* Turn pages, online user counts, moderators and thread info into the window information bar */
#mp_bar {
    margin: 0 !important;
}
.pages.top, #mp_bar .pages, .pages.bottom {
    display: block !important;
    margin: 0 !important;
    background-color: #ddd;
    background-image: url('./macinyos9/doubleborder.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    border-bottom: 1px solid #000 !important;
    padding: 8px 12px 7px !important;
    width: auto !important;
    text-align: left !important;
    height: 16px !important;
}
#mp_bar .pages, .pages.top, #mp_bar .pages .curpage, .pages.top .curpage, #mp_bar .pages a, .pages.top a, .pages.bottom, .pages.bottom a, .pages.bottom b, .pages.bottom span {
    font-family: 'virtue', sans-serif !important;
    font-size: 11px !important;
    color: #000 !important;
    font-weight: normal !important;
}
#mp_bar .pages a, .pages.top a {
	border-bottom: 0 !important;
	color: #000 !important;
}
.pages a:hover {
	color: #000 !important;
	background-color: transparent !important;
}
.pages.bottom {
    background: transparent !important;
    padding-bottom: 6px !important;
}
#mp_bar .pages .curpage, .pages.top .curpage, .pages.bottom .curpage {
    margin: 0 8px 0 3px !important;

}
.breadcrumbs .online_users {
	visibility: hidden;
    position: absolute;
    top: 28px;
    right: 8px;
    color: #ddd !important;
}
.breadcrumbs .online_users, .breadcrumbs .online_users a {
    display: inline !important;
    font-family: 'virtue', Sans-Serif !important;
    font-size: 11px !important;
    padding: 0 !important;
}
#mods {
    position: relative;

    display: block !important;
    top: 3px;
    left: 25% !important;
    width: 50% !important;
    text-align: center !important;
	background-color: #ddd;
}
#mods, #mods a {
    font-family: 'virtue', Sans-Serif !important;
    font-size: 11px !important;
    color: #000 !important;
    text-decoration: none !important;
    font-weight: normal !important;
	background-color: #ddd;
}
#mods, #mods b {
	background-color: #ddd;
}


thead {
	background-color: #ccc;
}

/* Forum list styles */
#forum {
    margin: 8px 8px -6px !important;
}
#forum th, #forum td {
    color: #000 !important;
    border-color: #aaa !important;
	-webkit-border-image:url('./macinyos9/bordertopbottom.png') 30 30 round; 
	border-image:url('./macinyos9/bordertopbottom.png') 30 30 round;
	border-height: 2px;
}
#forum th {
	padding: 6px 5px 3px !important;
}
#forum th, #forum th a, #forum th a abbr {
	font-family: 'virtue', sans-serif !important;
	font-size: 11px !important;
}
/* Sorting options */
th.lastpost {
	
}
th.lastpost a:first-child {
 
	top: 6px;
}
th.lastpost a img[src="http://fi.somethingawful.com/images/sortasc.gif"] {
    width: 0 !important;
    height: 0 !important;
    margin-top: 2px !important;
    padding: 14px 16px 0 0 !important;
    background-image: url('./macinyos9/sortasc.png');
}
th.lastpost a img[src="http://fi.somethingawful.com/images/sortdesc.gif"] {
    width: 0 !important;
    height: 0 !important;
    margin-top: 2px !important;
    padding: 14px 16px 0 0 !important;
    background-image: url('./macinyos9/sortdesc.png');
}
/* Thread list links */
.info a {
	text-decoration: none !important;
}
.author a, .replies a, .views, .lastpost, .lastpost div, .lastpost a {
	font-family: 'virtue', sans-serif !important;
	text-decoration: none !important;
}
.lastpost a {
	display: inline-block !important;
	font-size: 12px !important;
	margin-top: 3px !important;
}
/* Thread page links */
.title_pages {
	margin: 3px 0 0 !important;
    padding: 0 !important;
}
.title_pages, .title_pages a {
    font-family: 'virtue', Sans-Serif !important;
    font-size: 10px !important;
    color: #777 !important;
    background: transparent !important;
}
a.pagenumber {
    background-color: transparent !important;
}
/* Stickied threads */
.title_sticky .info a.thread_title 
{
    background-image: url('./macinyos9/sticky.png') !important;
}
/* Previously viewed threads */
.thread.seen td {
    background-image: url('./macinyos9/read.png') !important;
	background-color: #ccc;
}
/* Last-Seen button */
.lastseen {
    border: none !important;
	border-top: 1px solid transparent !important;
    background: transparent !important;
}
.lastseen .count {

	border-left-color: #000 !important;
}
.lastseen a {

    font-size: 12px !important;

 	border: none !important;
	background-color: #ddd;
		display: inline-block;
		width: 100px !important;
		height: 24px !important;
		background-image: url('./macinyos9/buttonbg.png');
		background-repeat:no-repeat;
		background-position: 15px 0px;
		text-align: center;
		padding-top: 3px;
}
.lastseen .count {
    text-align: center;
}
.lastseen .count:after {
    content: ' new';
}
.lastseen .x {
	border: none !important;
	background: none !important;
	font-family: 'virtue', Sans-Serif !important;
    color: #ddd !important;
}
.lastseen .x:hover {
    color: #caa !important;
}
.lastseen a:active {
    color: #ddd !important;
 
}
/* Ratings */
td.rating img {
    width: 0 !important; height: 0 !important;
    padding: 20px 46px 0 0 !important;
}
td.rating .r5 {
    background-image: url('./macinyos9/rated5.png');
}
td.rating .r4 {
    background-image: url('./macinyos9/rated4.png');
}
td.rating .r3 {
    background-image: url('./macinyos9/rated3.png');
}
td.rating .r2 {
    background-image: url('./macinyos9/rated2.png');
}
td.rating .r1 {
    background-image: url('./macinyos9/rated1.png');
}



/* Bottom of forum view */
.pages.bottom {
    border: none !important;
    border-top: 1px solid #000 !important;
    margin: 0 !important;
    padding: 8px 12px 8px !important;
}
.forumbar {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.forumbar .postbuttons {
    margin: 28px 8px -28px 0 !important;
}
.online_users.bottomonline {
    display: block !important;
    margin: -27px 0 6px 30% !important;
    width: 40% !important;
    text-align: center !important;   
    color: #ccc !important;
}
.online_users.bottomonline a {
    font-family: 'virtue', Sans-Serif !important;
    text-decoration: none !important;
    color: #000 !important;
}
.mainbodytextlarge {
    display: none !important;
}
.WindowTitle .mainbodytextlarge, .breadcrumbs .mainbodytextlarge {
    display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
/* Bottom breadcrumb bar */
.bottomLinks {
	font-family: Geneva !important;
	font-size: 9px !important;
	font-weight: normal !important;
	display: block !important;
	top: 100%;
	width: 300px;
	height: 70px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 40px;
	padding: 5px 10px 0;
	text-align: center;
	border-top: 1px solid #ffffff !important;
	border-left: 1px solid #ffffff !important;
	border-bottom: 1px solid #ffcc02 !important;
	border-right: 1px solid #ffcc02 !important;
	background-color: #fff999 !important;
}
.bottomLinks a, .bottomLinks .bclast {
	font-style: Geneva !important;
	font-size: 9px !important;
	font-weight: normal !important;
	text-decoration: none !important;
	border-bottom: none !important;
}
a[href="#top"] {
	display: none !important;
}

/* stupid images */

.omapalpet.right {
	padding: 3px;
	margin: 3px;
	border-top: 1px solid #ffffff !important;
	border-left: 1px solid #ffffff !important;
	border-bottom: 1px solid #ffcc02 !important;
	border-right: 1px solid #ffcc02 !important;
	background-color: #fff999 !important;
}
.omapalpet.left {
	padding: 3px;
	margin: 3px;
	border-top: 1px solid #ffffff !important;
	border-left: 1px solid #ffffff !important;
	border-bottom: 1px solid #ffcc02 !important;
	border-right: 1px solid #ffcc02 !important;
	background-color: #fff999 !important;
}



/* Thread buttons */
.threadbar.top {
    border: none !important;
    position: absolute;
    top: 24px; 
    right: 6px;
    padding: 0 !important;
    background: transparent !important;
}
.threadbar .postbuttons a img,
.forumbar img[alt="Post New Thread"] {
    width: 0 !important;
    height: 0 !important;
    padding: 22px 68px 0 0 !important;
    background-repeat: no-repeat;
}
.threadbar .postbuttons li:nth-of-type(1) img {
    content: 'Mark';
}
/* Post */
.threadbar .postbuttons li a img[alt="Post"],
.forumbar img[alt="Post New Thread"] {
    background-image: url('./macinyos9/post.png');
}
.threadbar .postbuttons li a:active img[alt="Post"],
.forumbar a:active img[alt="Post New Thread"] {
    background-image: url('./macinyos9/post_on.png');
}
/* Reply */
.threadbar .postbuttons li a img[alt="Reply"] {
    background-image: url('./macinyos9/reply.png');
}
.threadbar .postbuttons li a:active img[alt="Reply"] {
    background-image: url('./macinyos9/reply_on.png');
}



/* Threads */
#thread {
    padding: 8px !important;
}
.post td {
    border: 1px solid #aaa !important;
}
.userinfo dt, .userinfo dd {
    color: #000 !important;
}
.userinfo .author, .userinfo .registered, .userinfo .title, .userinfo .title * {
	font-family: 'virtue', sans-serif !important;
}
.userinfo dt.role-mod, .userinfo dt.role-admin {
    padding: 2px 0 3px 20px !important;
    background-image: url('./macinyos9/modstar.png') !important;
}
.seen1 .postbody, .seen2 .postbody {
    background-image: url('./macinyos9/read.png');
} 

div.standard {
	border: 1px solid #000 !important;
	background-image: url('./macinyos9/window_title.png') !important; 
	background-repeat: no-repeat;
	display: block;
	z-index: 100;
	 box-shadow: 1px 1px 1px #000 !important;
}
div.standard h2 {
	 background-image: url('./macinyos9/window_right.png') !important;
	    background-repeat: no-repeat;
	    background-position: right 2px;
	height: 17px !important;
	display: block !important;
    border-bottom: 1px solid #000 !important;
	border-top: none !important;
    padding: 1px 0 0 !important;
    text-align: center !important;
    margin: 0 !important;
    position: relative;
}

.bbc-block {
	border: 1px solid #000 !important;
	background-image: url('./macinyos9/window_title.png') !important; 
	background-repeat: no-repeat;
	display: block;
	z-index: 100;
	 box-shadow: 1px 1px 1px #000 !important;  
}

h4 {
	 background-image: url('./macinyos9/window_right.png') !important;
	    background-repeat: no-repeat;
	    background-position: right 2px;
	height: 17px !important;
	display: block !important;
    border-bottom: 1px solid #000 !important;
	border-top: none !important;
    padding: 1px 0 0 !important;
    text-align: center !important;
    margin: 0 !important;
    position: relative;
    

}
h4 b {
	background-color: #ccc !important;
	height: 17px !important;
	display: block !important;
    border-bottom: 1px solid #000 !important;
    padding: 1px 0 0 !important;
    text-align: center !important;
    margin: 0 !important;
    position: relative;

}
h4 .quote_link {
		background-color: #ccc !important;
		background-image: url:('./macinyos9/read.png');
		margin-left: auto !important;
		margin-right: auto !important;
		font-size: 11px;
		height: 17px !important;
		padding-left: 6px;
		padding-right: 6px;
}
.bbc-block blockquote {
	padding: 8px;
}
/*
.bbc-block {
	border: 1px solid #000 !important;
	background-image: url('./macinyos9/window_title.png') !important; 
	background-repeat: no-repeat;
	display: block;
	z-index: 100;
	 box-shadow: 1px 1px 1px #000 !important;  
}

/* Posts */
.post {
	border: 1px solid #000 !important;
 	box-shadow: 1px 1px 1px #000 !important;
    margin-bottom: 8px !important;
}
.postbody, .postbody * {
    font-family: 'virtue', 'Charcoal CY', 'Courier', Monospace !important;
}
.postbody h4, .postbody h5 {
    font-family: 'virtue', 'Monaco', 'Charcoal CY', Monospace !important;
	height: 17px !important;
	
}

/* Edited posts */
.editedby span {
    padding: 6px 0 2px 20px !important;
    background-image: url('./macinyos9/edited.png') !important;
    font-style: normal !important;
    font-family: 'virtue', sans-serif !important;
}

/* Post buttons */
.post .postbuttons {
    padding: 5px 4px 0 !important;
}
.post .postbuttons img {
    width: 0 !important;
    height: 0 !important;
    padding: 22px 73px 0 0 !important;
    background-repeat: no-repeat;
}
.post .postbuttons .alertbutton img {

    background-image: url('./macinyos9/report.png');
}
.post .postbuttons .alertbutton a:active img {
    background-image: url('./macinyos9/report_on.png');
}
.post .postbuttons img[alt="Edit"] {
    background-image: url('./macinyos9/edit.png');
}
.post .postbuttons a:active img[alt="Edit"] {
    background-image: url('./macinyos9/edit_on.png');
}
.post .postbuttons img[alt="Quote"] {
    
    background-image: url('./macinyos9/quote.png');
}
.post .postbuttons a:active img[alt="Quote"] {
    background-image: url('./macinyos9/quote_on.png');
}

/* Profile links */
.profilelinks {
    padding: 8px 0 0 4px !important;

}
#thread ul.profilelinks li {
	display: inline-block;
	width: 100px !important;
	height: 24px !important;
	background-image: url('./macinyos9/buttonbg.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	text-align: center;
	padding-top: 3px;
}



ul.postbuttons li button {
	display: inline-block;
	width: 100px !important;
	height: 24px !important;
	background-image: url('./macinyos9/buttonbg.png')  !important;
	background-repeat:no-repeat !important;
	background-position: 0px 0px !important;
	text-align: center !important;
	padding-top: 3px !important;
	border: none  !important;
}
.profilelinks a {
    font-size: 12px !important;   
    text-decoration: none !important;
}

.profilelinks a:active {
    background-color: #000 !important;
    color: #ccc !important;
}

/* Stuff underneath avatars */
.postdate {
    padding: 4px 0 0 !important;
}
.postdate a:nth-of-type(1) img {
    width: 0 !important;
    height: 0 !important;
    margin: 1px 0 -2px 10px !important;
    padding: 17px 18px 0 0 !important;
    background-image: url('./macinyos9/posticon-seen.png');
    background-repeat: no-repeat !important;
}



/* Bottom of thread view */
.threadbar.bottom {
    border: none !important;
    margin: 0 8px 0 0 !important;
    padding: 0 !important;
}
.threadrate {
    margin: 0 0 0 30% !important;
    width: 40% !important;
    text-align: center !important;
    color: #000 !important;
}
.threadrate b {
    display: none !important;
}
.pages.bottom {
    border-bottom: none !important;
	border-top: none !important;
    margin: -20px 0 4px !important;
}
.pages.bottom.thread {
    margin: -40px 0 0 !important;
}
form[action="forumdisplay.php"] {
    display: none !important;
}



/* Thread rating buttons */
#rateform_js_attach {
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 163px;
    margin-left: -80px;
    
    background-image: url('./macinyos9/ratings.png');
}
#rateform_js_attach img {
    height: 0px;
    width: 21px;
    overflow: hidden;
    padding-bottom: 21px;
}
#rateform_js_attach img:last-child {
    width: 58px;
}

/*
.threadrate img.r1, .threadrate img.r2, .threadrate img.r3, .threadrate img.r4, .threadrate img.r5 {
    width: 0; height: 0;
    padding: 21px 21px 0 0;
}
.threadrate img.r1 {
    background-image: url('./macinyos9/rate-1.png');
}
.threadrate img.r2 {
    background-image: url('./macinyos9/rate-2.png');
}
.threadrate img.r3 {
    background-image: url('./macinyos9/rate-3.png');
}
.threadrate img.r4 {
    background-image: url('./macinyos9/rate-4.png');
}
.threadrate img.r5 {
    background-image: url('./macinyos9/rate-5.png');
}
.threadrate img.digg {
    width: 0; height: 0;
    padding: 21px 58px 0 0;
    background-image: url('./macinyos9/rate-digg.png');
}
*/



/* Move that subscribe link way up top */
.subscribe {
    position: absolute;
    top: 28px;
    left: 40%;
    width: 20%;
    margin: 0 !important;
}
.subscribe a {
    font-family: 'virtue', Sans-Serif !important;
    font-size: 11px !important;
	border-bottom: none !important;
}



/* Copyright info */
#copyright {
    background-image: url('./macinyos9/about.png');
    background-repeat: no-repeat;
    text-align: left !important;
    color: #ccc !important;
    font-size: 9px !important;
    margin-left: auto !important;
	margin-right: auto !important;
    width: 479px !important;
    height: 22px !important;
    overflow: hidden !important;
    padding-top: 281px !important;
   	font-size: 0px !important;
}
#copyright, #copyright * {
	font-family: 'virtue', sans-serif !important;
	-webkit-font-smoothing: none;
}
#copyright a {
    color: #ccc !important;
    text-decoration: none !important;
}



/* Reply form */
table.standard, div.standard {
    margin: 8px 8px 0 !important;
    border: 1px solid #000 !important;
    width: 80% !important;
}
table.standard th, table.standard td, div.standard h2 {
    border-color: #000 !important;
    background-color: #ccc !important;
    color: #000 !important;
}
table.standard th {
    color: #000 !important;
    background-color: #ccc !important;
    background-image: url('./macinyos9/window_title.png');
    background-repeat: repeat-x;
    background-position: 0 3px !important;
    text-align: center !important;
    font-size: 12px !important;
    padding: 4px 0 2px !important;
}
table.standard th b {
    background-color: #ccc !important;
    padding: 0 8px !important;
}
table.standard th b:after {
    content: '.txt - YOSPoster';
}
table.standard .smalltext, table.standard .smalltext * {
    vertical-align: bottom !important;
    font-size: 12px !important;
    line-height: 14px !important;
}
div.standard {
    background-color: #ccc !important;
}
div.standard h2 {
    border-bottom: 1px solid #000 !important;
}
/* Jesus christ these selectors are terrible */
form[action="newreply.php"] div[style="text-align:center;"]:first-of-type,
form[action="newthread.php"] div[style="text-align:center;"]:first-of-type,
form[action="editpost.php"] div[style="text-align:center;"]:first-of-type {

}

form[action="newreply.php"] div[style="text-align:center;"]:first-of-type input[type="submit"],
form[action="newthread.php"] div[style="text-align:center;"]:first-of-type input[type="submit"],
form[action="editpost.php"] div[style="text-align:center;"]:first-of-type input[type="submit"] {

    font-size: 12px !important;
    margin: 8px 8px !important;
 	border: none !important;
	background-color: #ddd;
		display: inline-block;
		width: 100px !important;
		height: 24px !important;
		background-image: url('./macinyos9/buttonbg.png');
		background-repeat:no-repeat;
		background-position: 0px 0px;
		text-align: center;
		padding-top: 3px;

}
form[action="newreply.php"] div[style="text-align:center;"]:first-of-type input[type="submit"]:active,
form[action="newthread.php"] div[style="text-align:center;"]:first-of-type input[type="submit"]:active,
form[action="editpost.php"] div[style="text-align:center;"]:first-of-type input[type="submit"]:active {

    color: #ccc !important;
}



/* Checkboxes and radio buttons */
input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    background-image: url('./macinyos9/checkers.png');
    width: 13px;
    height: 13px;
    vertical-align: middle;
    background-position-y: -40px;
}
input[type="checkbox"]
{
    background-position-x: left;
}
input[type="radio"]
{
    background-position-x: right;
}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled
{
    background-position-y: top;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked
{
    background-position-y: -60px;
}
input[type="checkbox"]:disabled:checked,
input[type="radio"]:disabled:checked
{
    background-position-y: -20px;
}